/* Main container for the dashboard layout */
.Dashboard-Layout {
  display: flex;
  gap: 50px;
  padding-top: 20px;
  height: 100%;
}

/* Sidebar menu styling */
.Dashboard-Layout .menu {
  flex: 1;
}

/* Main content area styling */
.Dashboard-Layout .content {
  flex: 4;
  background-color: #12101b;
}
