/* Main container for the chat list */
.chat-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Horizontal rule styling */
.chat-list hr {
  border: none;
  height: 2px;
  background-color: #ddd;
  opacity: 0.1;
  border-radius: 5px;
  margin: 20px 0;
}

/* Section title styling */
.chat-list .title {
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 10px;
}

/* Chat list container styling */
.chat-list .list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Hide scrollbar for better UX */
.chat-list .scroll-container::-webkit-scrollbar {
  display: none;
}

/* Link styling */
.chat-list a {
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: inherit;
}

.chat-list a:hover {
  background-color: #2c2937;
}

/* Upgrade section styling */
.chat-list .upgrade {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

/* Upgrade section image styling */
.chat-list .upgrade img {
  width: 24px;
  height: 24px;
}

/* Upgrade section text styling */
.chat-list .upgrade .text {
  display: flex;
  flex-direction: column;
}

.chat-list .upgrade .text span:first-child {
  font-weight: 600;
}

.chat-list .upgrade .text span:last-child {
  color: #888;
}
