/* Main container for the dashboard page */
.dashboard-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Text section containing logo and options */
.dashboard-page .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 50px;
}

/* Logo styling */
.dashboard-page .text .logo {
  display: flex;
  align-items: center;
  gap: 20px;
  opacity: 0.2;
}

.dashboard-page .text .logo img {
  width: 64px;
  height: 64px;
}

.dashboard-page .text .logo h1 {
  font-size: 64px;
  background: linear-gradient(to right, #217bfe, #e55571);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Options section styling */
.dashboard-page .text .options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.dashboard-page .text .options .option {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 300;
  font-size: 14px;
  padding: 20px;
  border: 1px solid #555;
  border-radius: 20px;
  text-align: center;
}

.dashboard-page .text .options .option img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* Form container styling */
.dashboard-page .form-container {
  margin-top: auto;
  width: 50%;
  background-color: #2c2937;
  border-radius: 20px;
  display: flex;
  padding: 10px;
}

/* Form styling */
.dashboard-page .form-container form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.dashboard-page .form-container form input {
  flex: 1;
  padding: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #ececec;
}

.dashboard-page .form-container form button {
  background-color: #605e68;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-page .form-container form button img {
  width: 16px;
  height: 16px;
}
