/* Padding for the end of the chat */
.end-chat {
  padding-bottom: 100px;
}

/* Main container for the chat page */
.chat-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Scroll container styling */
.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for better UX */
}

/* Wrapper for chat content */
.wrapper {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Chat container styling */
.chat {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Paragraph and list item spacing */
.chat p,
.chat li {
  margin: 10px 0;
}

/* Message styling */
.message {
  padding: 20px;
  border-radius: 20px;
  max-width: 80%;
}

/* User-specific message styling */
.message.user {
  background-color: #2c2937;
  align-self: flex-end;
}
